html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $white;
  background: $black;
  font-family:
    /* English first */
    Arial,
    Helvetica,
    "Microsoft JhengHei",
    /* Chinese first */
    "PingFang TC",
    /* mac */
    "Noto Sans TC",
    /* Android / fallback Chinese */
    /* System fallback */
    sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  transition:
    color 0.5s,
    background-color 0.5s;
}

#app {
  // max-width: 1280px;
  margin: 0 0;
  padding: 0;
  font-weight: normal;
  
}

a {
  text-decoration: none;
}
button {
  padding: 8px 16px;
  background-color: #fffebb;
  color: #2b0d0d;
  border-radius: 8px;
  font-size: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
}
button:hover {
  background-color: #fff455;
}
button:active {
  background-color: #a19a33;
}